:host {
    display: block !important;
}

.match {
    background-color: #d1fae5 !important; 
    border-color: #a7f3d0 !important; 
    ::ng-deep h3, ::ng-deep p {
        color: #065f46 !important; 
    }
}

.mismatch {
    background-color: #fee2e2 !important;
    border-color: #fca5a5 !important;

    ::ng-deep h3, ::ng-deep p {
        color: #991b1b !important; 
    }
}